<div id="header">
    <div id="header-login">
        <ul class="login-section">
            <li><a href="#"><i class="ti-headphone-alt"></i> 039xxxx</a></li>
            <li><a href="#">Order lookup</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <a href="" class ="cart"><i class = "ti-shopping-cart"></i></a>
            
        </ul>
    </div>
    <div id="header-main">
        <div id="logo"></div>
        <ul id="navbar">
            <li><a href="">About</a></li>
            <li><a href="">Review</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Colab</a></li>
        </ul>
        <div id="head-search">
            <form action="#">
                <input type="text">
                <input type="submit">
            </form>
        </div>
    </div>
</div>